html,
body {
  background-color: #eeebe4;
  color: #28282e;
  font-family: "Lato", sans-serif;
}

button {
  width: 100%;
}

.title {
  text-align: center;
}

.add-boxes {
  margin-left: 10px;
}
.download {
  text-align: right;
  margin-top: 8px;
}

.upload {
  text-align: right;
  margin-top: 8px;
}

.edit {
  text-align: right;
  margin-top: 8px;
}

.delete {
  margin-top: 8px;
}

.column {
  max-height: 100%;
  overflow: auto;
  z-index: 0;
}

.ui .boxicon {
  size: 1% !important;
  float: right;
}

.descriptionsegment {
  height: 70vh;
  position: relative;
  text-align: start;
}

.signin {
  display: inline;
  width: 90px;
}

.signup {
  display: inline;
  width: 90px;
}

.downloadfile {
  width: 120px;
  display: inline;
}

.deletefile {
  width: 120px;
  display: inline;
  margin: 5px;
}

.viewfile {
  width: 120px;
  display: inline;
  margin: 5px;
}

.row {
  text-align:center;
}
